absl-py==2.4.0
accelerate==1.12.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
distro==1.9.0
dotenv==0.9.9
filelock==3.20.0
flatbuffers==25.12.19
fonttools==4.61.1
fsspec==2025.12.0
grpcio==1.73.1
grpcio-tools==1.73.1
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
idna==3.11
jax==0.7.1
jaxlib==0.7.1
Jinja2==3.1.6
jiter==0.13.0
kiwisolver==1.4.9
llvmlite==0.46.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.4
more-itertools==10.8.0
mpmath==1.3.0
mutagen==1.47.0
networkx==3.6.1
numba==0.64.0
numpy==2.2.6
openai==2.21.0
openai-whisper==20250625
opencv-contrib-python==4.11.0.86
opencv-python==4.13.0.92
openvr==2.12.1401
opt_einsum==3.4.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pillow==12.0.0
protobuf==6.32.0
psutil==7.2.2
PyAudio==0.2.14
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pygame==2.6.1
Pygments==2.19.2
pyparsing==3.3.2
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==6.0.3
reachy2-sdk==1.0.15
reachy2_sdk_api==1.0.21
regex==2026.2.19
requests==2.32.5
rich==14.3.3
safetensors==0.7.0
scipy==1.17.0
sentencepiece==0.2.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
solutions==0.0.2
sounddevice==0.5.5
SpeechRecognition==3.14.5
sympy==1.14.0
tiktoken==0.12.0
tokenizers==0.22.2
torch==2.10.0+cu130
torchvision==0.25.0+cu130
tqdm==4.67.3
transformers==4.57.5
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
